
ray/src/.DS_Store
ray/.DS_Store
.DS_Store
ray/third-party/glm/
ray/build/bin/ray
ray/build/cmake_install.cmake
ray/build/CMakeCache.txt
ray/build/CMakeFiles/3.28.1/CMakeCCompiler.cmake
ray/build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
ray/build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
ray/build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
ray/build/CMakeFiles/3.28.1/CMakeSystem.cmake
ray/build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
ray/build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.o
ray/build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
ray/build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.o
ray/build/CMakeFiles/cmake.check_cache
ray/build/CMakeFiles/CMakeConfigureLog.yaml
ray/build/CMakeFiles/CMakeDirectoryInformation.cmake
ray/build/CMakeFiles/Makefile.cmake
ray/build/CMakeFiles/Makefile2
ray/build/CMakeFiles/progress.marks
ray/build/CMakeFiles/TargetDirectories.txt
ray/build/Makefile
ray/build/src/cmake_install.cmake
ray/build/src/CMakeFiles/CMakeDirectoryInformation.cmake
ray/build/src/CMakeFiles/progress.marks
ray/build/src/CMakeFiles/ray.dir/build.make
ray/build/src/CMakeFiles/ray.dir/cmake_clean.cmake
ray/build/src/CMakeFiles/ray.dir/compiler_depend.internal
ray/build/src/CMakeFiles/ray.dir/compiler_depend.make
ray/build/src/CMakeFiles/ray.dir/compiler_depend.ts
ray/build/src/CMakeFiles/ray.dir/depend.make
ray/build/src/CMakeFiles/ray.dir/DependInfo.cmake
ray/build/src/CMakeFiles/ray.dir/fileio/bitmap.cpp.o
ray/build/src/CMakeFiles/ray.dir/fileio/bitmap.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/fileio/buffer.cpp.o
ray/build/src/CMakeFiles/ray.dir/fileio/buffer.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/fileio/images.cc.o
ray/build/src/CMakeFiles/ray.dir/fileio/images.cc.o.d
ray/build/src/CMakeFiles/ray.dir/fileio/pngimage.cpp.o
ray/build/src/CMakeFiles/ray.dir/fileio/pngimage.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/flags.make
ray/build/src/CMakeFiles/ray.dir/link.txt
ray/build/src/CMakeFiles/ray.dir/main.cpp.o
ray/build/src/CMakeFiles/ray.dir/main.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/parser/JsonParser.cpp.o
ray/build/src/CMakeFiles/ray.dir/parser/JsonParser.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/parser/Parser.cpp.o
ray/build/src/CMakeFiles/ray.dir/parser/Parser.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/parser/ParserException.cpp.o
ray/build/src/CMakeFiles/ray.dir/parser/ParserException.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/parser/Token.cpp.o
ray/build/src/CMakeFiles/ray.dir/parser/Token.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/parser/Tokenizer.cpp.o
ray/build/src/CMakeFiles/ray.dir/parser/Tokenizer.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/progress.make
ray/build/src/CMakeFiles/ray.dir/RayTracer.cpp.o
ray/build/src/CMakeFiles/ray.dir/RayTracer.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/scene/bbox.cc.o
ray/build/src/CMakeFiles/ray.dir/scene/bbox.cc.o.d
ray/build/src/CMakeFiles/ray.dir/scene/camera.cpp.o
ray/build/src/CMakeFiles/ray.dir/scene/camera.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/scene/cubeMap.cpp.o
ray/build/src/CMakeFiles/ray.dir/scene/cubeMap.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/scene/light.cpp.o
ray/build/src/CMakeFiles/ray.dir/scene/light.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/scene/material.cpp.o
ray/build/src/CMakeFiles/ray.dir/scene/material.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/scene/ray.cpp.o
ray/build/src/CMakeFiles/ray.dir/scene/ray.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/scene/scene.cpp.o
ray/build/src/CMakeFiles/ray.dir/scene/scene.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Box.cpp.o
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Box.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Cone.cpp.o
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Cone.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Cylinder.cpp.o
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Cylinder.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Sphere.cpp.o
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Sphere.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Square.cpp.o
ray/build/src/CMakeFiles/ray.dir/SceneObjects/Square.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/SceneObjects/trimesh.cpp.o
ray/build/src/CMakeFiles/ray.dir/SceneObjects/trimesh.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/ui/CommandLineUI.cpp.o
ray/build/src/CMakeFiles/ray.dir/ui/CommandLineUI.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/ui/CubeMapChooser.cxx.o
ray/build/src/CMakeFiles/ray.dir/ui/CubeMapChooser.cxx.o.d
ray/build/src/CMakeFiles/ray.dir/ui/debuggingView.cpp.o
ray/build/src/CMakeFiles/ray.dir/ui/debuggingView.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/ui/debuggingWindow.cxx.o
ray/build/src/CMakeFiles/ray.dir/ui/debuggingWindow.cxx.o.d
ray/build/src/CMakeFiles/ray.dir/ui/glObjects.cpp.o
ray/build/src/CMakeFiles/ray.dir/ui/glObjects.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/ui/GraphicalUI.cpp.o
ray/build/src/CMakeFiles/ray.dir/ui/GraphicalUI.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/ui/ModelerCamera.cpp.o
ray/build/src/CMakeFiles/ray.dir/ui/ModelerCamera.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/ui/TraceGLWindow.cpp.o
ray/build/src/CMakeFiles/ray.dir/ui/TraceGLWindow.cpp.o.d
ray/build/src/CMakeFiles/ray.dir/ui/TraceUI.cc.o
ray/build/src/CMakeFiles/ray.dir/ui/TraceUI.cc.o.d
ray/build/src/Makefile
ray/src/.DS_Store
ray/src/.DS_Store
ray/.DS_Store
.DS_Store
